<html>
   <section class="card">
    <h1>Login To Your Account </h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <input type="email" name="email" id="email" placeholder="email" formControlName="email">
      <div class="error" *ngIf="loginForm.controls.email.errors?.pattern">Please enter a valid email address </div>
      <input type="password" name="password" id="password" placeholder="password" formControlName="password">
      <div class="error" *ngIf="loginForm.controls.password.errors?.minLength">Password must be at least 8 characters long</div>
      <div>
        <button ion-button class="cardButton" type="submit" [disabled]="!loginForm.valid"> Sign In </button>
        <button ion-button class="cardButton" routerLink="/register">New Account</button>
      </div>
      <div>
        <!--   <button ion-button class="cardButton" (click)="signInWithGoogle()">Login With Google</button>
-->
      </div>
    </form>
  </section>


</html>