html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  background-color: #24221F;
  min-height: 100%;
  height: auto;
}

body  {
    
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 160%;
  color: #555459;
  line-height: 1.5rem;
    *zoom: 1;
}

.appBackground{
background:#24221F;
min-width: 100%;
width: 100%;
height: 100%;

}
.card {
  background: #363F45;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #FEB41C;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.cardButton {
  background:#5E7C88;
}

.toolbar-title{
  color:  #FEB41C;
}
.toolbar-background {
  background-color: #363F45;
}


@media all and (max-width: 400px) {
  main {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', serif;
  font-weight: 100;
  text-shadow: 1px 1px rgb(0,0,0);
}

header {
  margin-bottom: 20px;
}

h1{
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
    font-family: Lato,appleLogo,sans-serif;
    margin: 0 0 1rem;
    color: #FEB41C;
}

h2{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 90%;
  margin-bottom: 5px;
  margin-top: 10px;
}

h3{
  margin-top: 0;
  line-height: 110%;
  margin-bottom: 5px;
}

/* Form Styles */

input {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}

input[type=radio] {
  width: auto;
}


input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .btn {
  background: gray;
}

.error {
  color: red;
  padding-bottom: 10px;
}



